---
import IconBlueSky from "~icons/simple-icons/bluesky";
import IconGithub from "~icons/simple-icons/github";
import IconLinkedin from "~icons/simple-icons/linkedin";
import IconTwitter from "~icons/simple-icons/twitter";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title={SITE_TITLE}
  description={SITE_DESCRIPTION}
  className="flex h-svh max-w-sm flex-col justify-center"
>
  <main class="space-y-4">
    <p>
      Miniblog is an opinionated and extremely minimal blogging template built
      with <a
        href="https://astro.build/"
        target="_blank"
        class="text-blue-500 underline">Astro</a
      > and <a
        href="https://tailwindcss.com/"
        target="_blank"
        class="text-blue-500 underline">Tailwind</a
      >.
    </p>
    <p>
      This template is forked from <a
        href="https://miniblog.nicholasly.com/"
        target="_blank"
        class="text-blue-500 underline">Miniblog</a
      >. See <a
        href="https://github.com/manojkarthick/miniblog?tab=readme-ov-file#template-changes-in-this-fork"
        target="_blank"
        class="text-blue-500 underline">here</a
      > for a list of the changes made to the original template.
    </p>
    <p>
      To use this template in your own project, check out the <a
        href="https://github.com/manojkarthick/miniblog?tab=readme-ov-file"
        target="_blank"
        class="text-blue-500 underline">GitHub repository</a
      >.
    </p>
    <div class="flex gap-3">
      <a
        href="https://github.com/manojkarthick"
        target="_blank"
        aria-label="GitHub"
        class="text-current opacity-60 transition-opacity hover:opacity-100"
      >
        <IconGithub width={18} height={18} />
      </a>
      <a
        href="https://www.linkedin.com/in/manojkarthick"
        target="_blank"
        aria-label="LinkedIn"
        class="text-current opacity-60 transition-opacity hover:opacity-100"
      >
        <IconLinkedin width={18} height={18} />
      </a>
      <a
        href="https://x.com/manojkarthick"
        target="_blank"
        aria-label="Twitter"
        class="text-current opacity-60 transition-opacity hover:opacity-100"
      >
        <IconTwitter width={18} height={18} />
      </a>
      <a
        href="https://bsky.app/profile/manoj.me"
        target="_blank"
        aria-label="BlueSky"
        class="text-current opacity-60 transition-opacity hover:opacity-100"
      >
        <IconBlueSky width={18} height={18} />
      </a>
    </div>
  </main>
</Layout>
