---
import { EMAIL } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
---

<header class="mb-6 flex items-center justify-between" transition:name="header">
  <nav class="flex items-center gap-4">
    <a
      href="/"
      class="font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100"
    >
      home
    </a>
    <a
      href="/posts"
      class="font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100"
    >
      posts
    </a>
    <a
      href={`mailto:${EMAIL}`}
      class="font-medium text-zinc-500 hover:text-zinc-900 hover:underline dark:hover:text-zinc-100"
    >
      email
    </a>
  </nav>
  <ThemeToggle />
</header>
