---
import { formatDate } from "../lib/utils";

interface Props {
  title: string;
  date: Date;
}

const { title, date } = Astro.props;
---

<main>
  <h1 class="mb-5 text-xl font-medium">
    {title}
  </h1>
  <p class="mb-1 font-medium text-zinc-500">
    {formatDate(date)}
  </p>
  <article>
    <slot />
  </article>
</main>
